@font-face {
    font-family: "Montserrat";
    src: url(public/fonts/montserrat-v26-vietnamese-regular.woff2) format("woff2");
}
/* @font-face {
    font-family: "Impact";
    src: url(public/fonts/impact.woff2) format("woff2");
} */
@font-face {
    font-family: 'Impact Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Impact Regular'), url('public/fonts/impact.woff') format('woff');
}
* {
    user-select: none;
    color: var(--color-white);
    color: white;
}
:root {
    /* Base/Background */
    --base-color: #000000;
    --base-pure-white: #ffffff;
    --base-sub-color: #555555;
    --base-brand-color: #ffffe4;
    /* Typography */
    --font-base-color: #ffffff;
    --font-pure-black: #000000;
    --font-brand-color: #ffffe4;
    --font-subheading-color: #7f7f7f;
    --font-title-theme-color: #df3119; 
    --font-price-size: 15px;
    --typography-brand-title: "Impact Regular";
    --typography-brand-subtitle: "Montserrat";
    --typography-brand-paragraph: "Montserrat";
}
body {
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
h1, h2, h3 {
    font-family: var(--typography-brand-title);
    font-weight: normal;
}
h3 {color: var(--font-title-theme-color);}
p {
    font-family: var(--typography-brand-subtitle);
}
.page-layout {
    position: relative;
    display: flex;
    /* background-image: url(https://i.ytimg.com/vi/fHI8X4OXluQ/maxresdefault.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */
}    
.page-layout--overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0) 50%, rgba(0,0,0,0.700717787114846) 65%, rgba(0,0,0,1) 85%, rgba(0,0,0,1) 100%);
}
.page-layout__view {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    /* align-items: center; */
    box-sizing: border-box;
    margin: 20px;
    height: 85vh;
    overflow-y: scroll;
}
.view__links {
    display: flex;
    flex-direction: column;
    flex: 49%;
    justify-content: center;
    /* align-items: center; */
    /* width: 50%; */
    /* height: 100%; */
}
.view__links .links__header img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: right;
    border-radius: 50%;
    border: 2px solid white;
}
.view__links .links__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.view__links .links__header .header__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.view__links .links__header .header__title .header__title-certificate {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}
.view__links .links__header .header__title .header__title-certificate .fa-certificate {
    position: absolute;
}
.view__links .links__header .header__title .header__title-certificate .fa-check {
    position: absolute;
}
.view__links .links__item > a {
    display: flex;
    justify-content: center;
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    margin: 10px 0;
}
.view__links .links__item > a > svg {
    width: 30%;
}
/* View gap */
.view__gap {
    display: flex;
    flex: 2%;
}
/* View content */
.view__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 49%;
    /* align-items: center; */
    /* height: 100%; */
    /* width: 50%; */
}
.view__content .shop {
    display: flex;
    flex-direction: column;
    text-align: center;
    /* align-items: center; */
}
.view__content .shop .shop__expand, svg, .bio__expand {
    display: flex; 
    align-items: right; 
    float: right; 
    color: var(--base-sub-color);
}
.view__content .shop .shop__expand:hover, .bio__expand:hover { 
    color: var(--base-pure-white);
    fill: var(--base-pure-white);
    text-decoration: underline; 
    transition: 0.5s; 
    cursor: pointer;
}
.view__content .shop .shop__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.view__content .shop .shop__title { margin: 0; padding: 0;}

.view__content .shop__items .shop__items-item {
    width: 200px;
    flex: 25%;
}
.view__content .shop--tab {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    /* align-items: center; */
    max-width: 800px;
    box-sizing: border-box;
    margin: 20px;
    height: 75vh;
    overflow-y: scroll;
}
.view__content .media {
    text-align: center;
}
.view__content .media iframe {
    border-radius: 20px;
    width: 100%; 
    height: 200px;
}
.bio--tab {
    margin: 20px;
    height: 85vh;
    overflow-y: scroll;
    max-width: 1000px;
}
/*  */
.page-layout__navbar {
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-width: 300px;
    margin: 0 25vw;
    padding: 20px 0;
}
/* Tab */
.tab-content {
    display: none;
}
input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + .tab-content {
    display: block;
}
.tab-buttons label > svg { fill: var(--base-sub-color);transition: 0.5s;}
.tab-buttons label > svg:hover {
    fill : var(--base-pure-white);
    transform: scale(1.2);
}
/* Modal */
#modalImage {
    cursor: pointer;
    transition: 0.3s;
}
#modalImage:hover {transform: scale(1.2);}
.modal {
    display: none;
    position: fixed; 
    z-index: 1; /* Sit on top */
    padding-top: 10vh;
    width: 100%; /* Full width */
    height: 100vh; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
/* Modal Content (image) */
.modal-content {
    margin: auto;
    width: 100%;
    max-width: 500px;
}
.modal-container {
    display: flex;
    flex-direction: column;
    /* flex: 100%; */
    margin: auto;
    padding: 20px;
    max-width: 500px;
}
.modal-container h2 {color: var(--font-title-theme-color);}
.modal-links > a {
    display: flex;
    justify-content: center;
    background-color: #fff;
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
}
.modal-container section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #fff;
}
/* Add Animation */
.modal-content {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* Custom scrolbar: Transparent style */
::-webkit-scrollbar {
    width: 0;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}


::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: white;
}

@media screen and (max-width: 550px) {
    .view__links, .view__content {
        flex: 100%;
    }
}